<div style="width: 400px; height: max-content; background-color: white; padding: 25px; margin-top: 55px;
  border-radius: 20px ; margin-left: 400px;">

<h3  class="text-center" style="font-weight: bold;">Cập Nhập Thông Tin</h3>
     
    <form action="/admin/updateInfor/{{user._id}}?_method=PUT" method="POST" style="margin-top: 20px;">  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" 
        name="email" value="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="text" class="form-control" id="password" placeholder="Enter password" name="passWord"
        value="{{user.passWord}}">
      </div>
      <div class="form-group">
        <label for="name">Họ và tên:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name"
        value="{{user.name}}">
      </div>
      <div class="form-group">
        <p for="image">Hình ảnh:</p>
        <img style="width: 50px; height: 50px; border-radius: 50%; margin-bottom: 10px;"  src="{{user.image}}"/>
        <input type="file" class="form-control-file" id="image" name="image" value="{{user.image}}">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/admin/getInformation" class="btn btn-default">Cancel</a>
    </form>

    </div>