
<div class="d-flex justify-content-center align-items-center" style="width: 500px; height: max-content; background-color: white;
      margin-left: auto; margin-right: auto; margin-top: 50px; padding: 20px;
     border-radius: 20px;">
     <a href="/admin/editInformation/{{user._id}}" class="btn btn-primary" style="float: right;">Sửa</a>
     <a href="/admin/loginAdmin" class="btn btn-danger" style="float: left;">Đăng xuất</a>
  <div style=" margin-left: 130px;">
    <img src="{{user.image}}"
      style="width: 200px; height: 180px; border-radius: 100px;;
    border-color: black;" alt="">

  </div>
  
    <div class="text-center" style="margin-top: 20px; font-weight: bold; font-size: 20px;">{{user.name}}</div>
    <p style="width: 100%; height: 1px; background-color: black; margin-top: 20px;"></p>
  <div style=" width: max-content; margin-left: 150px;">
    <div style="font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;"
        width="16" height="16" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
        <path
          d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z" />
      </svg>{{user.email}}</div>
    <div style="font-size: 18px;"> <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;" width="16" height="16" fill="currentColor"
        class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path
          d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
      </svg>*******</div>
      </div>
  </div>
</div>












{{!-- <h3>Thông tin cá nhân</h3>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="/uploads/{{user.image}}" style="width: 50px; height: 50px; border-radius: 50%;
                border-color: black; border-width: 10px;" alt=""> </td>
      <td>{{user.email}}</td>
      <td>{{user.passWord}}</td>
      <td>
        <a href="/admin/editInformation/{{user._id}}" class="btn btn-primary">Edit</a>
      </td>
    </tr>
  </tbody>
</table> --}}