<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/getAllUsers">IStore</a>
        </div>
        <ul class="nav navbar-nav">
            <li> <a href="/admin/getAllUsers">User</a></li>
            {{!-- <li class="active"><a href="/admin/getAllProducts">Sản Phẩm</a></li> --}}
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/getAllProducts">Sản phẩm<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/typeProductAdmin/getAllTypeProducts">Loại sản phẩm</a></li>

        </ul>
      </li>
            <li><a href="/order/getAllOrderXacNhan">Đơn Hàng</a></li>
            <li><a href="/doanhThu/getDoanhThuServer">Danh Thu</a></li>
              <li ><a href="/admin/logout">Đăng xuất</a></li>
        </ul>
                  
    </div>
</nav>
{{!-- <ul class="nav nav-tabs">
    <li class="action">
        <a href="/admin/getAllProducts">Sản phẩm</a>
    </li>
    <li>
        <a href="/typeProductAdmin/getAllTypeProducts">Loại sản phẩm</a>
    </li>
</ul> --}}

<div class=" text-left float-left" style="margin-top: 20px; margin-bottom: 20px;">
    <a href="/admin/addProduct" class="btn btn-primary">Add Product</a>
</div>
<table class="table table-striped" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên SP</th>
            <th>Giá</th>
            <th>Hình Ảnh</th>
            <th>Loại SP</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="">
        {{#each product}}
        <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.name_product}}</td>
            <td>{{this.price}}$</td>
            <td><img src="{{this.image}}" style="width: 50px; height: 50px; border-radius: 50%;
                border-color: black; border-width: 10px;" /></td>
            <td>{{this.nameLoaiSP}}</td>

            <td>
                <a href="/admin/editProduct/{{this.productID}}" class="btn btn-primary">Edit</a>
                <a href="/admin/deleteProduct/{{this.productID}}"
                    onclick="return confirm('Bạn có chắc muốn xóa không ?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>