<nav class="navbar navbar-inverse ">
    <div class="container-fluid row" style="position: relative;">
        <div class="col-sm-6">
            <div class="navbar-header">
                <a class="navbar-brand " href="/admin/getAllUsers">IStore</a>
            </div>
            <ul class="nav navbar-nav ">
                <li><a href="/admin/getAllUsers">User</a></li>
                <li><a href="/admin/getAllProducts">Sản Phẩm</a></li>
                <li class="active"><a href="/order/getAllOrderXacNhan">Đơn Hàng</a></li>
                <li><a href="/doanhThu/getDoanhThuServer">Danh Thu</a></li>
                    <li><a href="/admin/logout">Đăng xuất</a></li>
            </ul>
        </div>



    </div>
</nav>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/order/getAllOrderXacNhan">Chờ xác nhận đơn hàng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/order/getAllOrderXuLy"> Đơn hàng đang giao</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/order/getAllOrderDaNhan"> Đơn hàng đã giao </a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/order/getAllOrderDaHuy"> Đơn hàng đã hủy</a>
    </li>
</ul>
<div id="alertContainer"></div>
{{#if listOrder.length}}
<table class="table table-striped" style="margin-top: 20px;">

    <thead>
        <tr>
            <th>STT</th>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody class="">
        {{#each listOrder}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td><img src={{this.image}} style="width: 50px; height: 50px; border-radius: 50%;
                border-color: black; border-width: 10px;" /> </td>
            <td>{{this.nameSP}}</td>
            <td>{{this.soluongSP}}</td>
            <td>{{this.giaSP}}$</td>
            <td>{{this.tongTien}}$</td>
            <td>
                <a style="color: green;">Đơn hàng đã giao thành công</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div style="text-align: center; margin-top: 40px;">
    <img src="https://bizweb.dktcdn.net/100/352/697/themes/716531/assets/empty-cart.png?1605521376718"
        alt="No Order Image" />

</div>

{{/if}}

</div>